include includes/head.pug
body
  include includes/nav.pug
  main.container.border.rounded.bg-light.w-50.mx-auto.mt-4.p-4
    form.contrast-bg.border.rounded.w-50.mx-auto.mt-5.p-3(action='/search' method='POST' name='search')
        .from-group
            h1.mt-2.mb-4 Search Recipes To Add
            input#search.form-control(type='text' placeholder='Search...' name='search' required='')
        .form-group.mt-3.mb-0
            button.btn.btn-primary(type='submit' value='Submit') Go!
    form.contrast-bg.border.rounded.w-50.mx-auto.mt-5.p-3(action='/toadd' method='POST')
        table(style='width:100%')
            tbody 
                ul#recipe
                    each item in recipe 
                        tr 
                            td 
                                img(src=item.image, style='max-height: 100px; max-width: 100px;', alt='Image of food')
                            td #{item.name}
                            td Yeild: #{item.yeild}
                            td 
                                a(href=item.rUrl) Click to See Instructions
                            td
                                .form-add
                                    label(for='ingredients')
                                        ul#ingredients Ingredients:
                                            each thing in item.ingredients
                                                li= thing
                            td 
                                .form-group.mt-3.mb-0
                                    button.btn.btn-primary(type='submit' value='Submit' action='/toadd' method='POST') Add Recipe to Box

        //-ul#recipe 
            each item in recipe
                img(src=item.image)
                li= item.yeild 
                li= item.rUrl
                ul#ingredients Ingredients:
                    each item in ingredients
                            li= item

    include includes/foot.pug